html,
body {
	// font-family: $font-secondary;
	font-size: 16px;
	width: 100%;
  height: 100%;
}

main{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-weight: $font-primary;
}

a {
	text-decoration: none;
}

a,
button {
	cursor: pointer;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

ul {
	list-style-type: none;
}

button,
input,
select,
textarea,
a {
	outline: 0;
	box-shadow: none;
	&:focus {
		outline: 0;
		box-shadow: none;
	}
}

textarea {
	// height: auto !important;
	resize: none;
}

.beauty-f{
	@extend %font-smoothing;
}
