#blog {
  .accordion {
    .card {
      border-radius: 10px;

      .card-body {
        .form-group {
          .form-inline {
            .select {
              width: 100%;

              select {
                border-color: #ced4da;
              }
            }
          }
        }

        .button-collapse {
          border: none;
          font-size: 14px;
          margin: 0;
          padding: 0 0 10px;
          text-align: left;
          width: 100%;

          position: relative;

          &:after {
            content: '';
            background-image: url('../../img/icons/arrow-down-black.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 15px;
            transform: rotate(180deg);
            transition: $t1;
            width: 15px;

            position: absolute;
            right: 0;
          }

          &.collapsed {
            &:after {
              transform: rotate(360deg);
            }
          }
        }

        hr {
          margin: 10px 0 15px;
        }

        .button {
          margin-bottom: 15px;
        }

        .table {
          .img {
            text-align: center;
            width: 80px;
          }

          .clear {
            height: 48px;
          }
        }
      }
    }
  }
}