#company {
  .social {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 15px;

    .form-inline {
      .select {
        width: 30%;
        height: 38px;

        select {
          border-radius: 10px 0 0 10px;
          border-color: #ced4da;
        }
      }

      input {
        border: 1px solid #ced4da;
        border-radius: 0 10px 10px 0;
        height: 38px;
        margin-left: -1px;
        padding: 7px 14px;
        width: calc(70% - 80px);

        &::placeholder {
          color: $c4;
        }
      }

      .btn {
        background-color: $c1;
        color: $c2;
        height: 30px;
        margin-left: 50px;
        text-align: center;
        padding: 7px;
        width: 30px;

        &.trash {
          &:after {
            right: 23%;
            top: 25%;
          }
        }
      }
    }
  }

  .card-title {
    font-size: 14px;

    .button {
      height: 32px;
      padding: 7px 15px;
      width: 110px;
    }
  }
}