#login {
  background-color: black;
  .container {
    .form-signin {
      box-shadow: -5px 5px 10px 0px rgba(30, 30, 30, .3);
      border-radius: 10px;
      max-width: 370px;

      .form-control {
        border-color: $c10;
      }

      .form-signin-heading {
        background-image: none;
        text-align: center;
        padding: 45px 10px 10px;

        h2 {
          border-bottom: 1px solid $red;
          font-size: 24px;
          font-weight: bold;
          margin-top: 45px;
          padding-bottom: 15px;
        }
      }
    }

    .login-wrap {
      padding: 0 10px 20px;

      .checkbox {
        color: $c6;
        font-size: 14px;
        font-weight: bold;
      }

      .button {
        width: 175px;
      }

      .form-group {
        &.has-error {
          border-color: $red;
          color: $red;

          .help-block {
            color: $red;
            font-size: 14px;
            display: block;
            margin: -12px 5px 0;
          }
        }
      }
    }
  }
}

#footer-login {
  border-top: 1px solid $c4;
  padding-top: 15px;
  width: 90%;

  position: absolute;
  left: 5%;
  bottom: 0;

  .footer-copy {
    .container {
      p {
        color: $c4;
        font-size: 12px;

        strong {
          font-weight: bold;
        }

        a {
          color: $c4;
          text-decoration: none;
        }
      }
    }
  }
}