.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

#toast-container > .toast-error {
  background-image: none;
  background-color: rgba(146, 11, 0, 0.89);
  color: #e9e9e9;
}
#toast-container > .toast-success {
  background-image: none;
  background-color: rgba(36, 146, 68, 0.89);
  color: #e9e9e9;
}

.fileupload{
  .thumbnail{
    max-width: 100% !important;
    width: 100% !important;

    img{
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}
