@keyframes opacity {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }

  to {
    opacity: 1;
    transform: translateZ(0)
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    top: 100%;
  }

  to {
    opacity: 0.5;
    top: 0;
  }
}

@keyframes scale {
  0% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes aTop {

  0% {
    top: 0;
  }

  50% {
    top: -5px;
  }

  100% {
    top: 0;
  }
}

@keyframes aBottom {

  0% {
    top: 0;
  }

  50% {
    top: 5px;
  }

  100% {
    top: 0;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

//animation

// @include keyframes(leftAnim, leftAnim animation) {
//   0% {
//     @include transform(translateX(($loader-size/2)+22));
//   }

//   100% {
//     @include transform(translateX(0));
//   }
// }

// @include keyframes(rightAnim, rightAnim animation) {
//   0% {
//     @include transform(translateX(0));
//   }

//   100% {
//     @include transform(translateX(-($loader-size/2)-18));
//   }
// }

@keyframes leftAnim {
  0% {
    transform: translateX((150/2)+22px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rightAnim {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-(150/2)-18px);
  }
}

@keyframes decoration1Big {

  0% {
    top: -60px;
  }

  50% {
    top: -70px;
  }

  100% {
    top: -60px;
  }
}

// GLITCH ANIMATE
$steps: 20;

// @keyframes glitch-effect {
//   @for $i from 0 through $steps {
//     #{percentage($i*(1/$steps))} {
//       clip: rect(random(100)+px, 9999px, random(100)+px, 0);
//     }
//   }
// }

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i * (1 / $steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
