.button {
  position: relative;
  width: 200px;
  height: 50px;

  .btn {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: $white;
    letter-spacing: 2.5px;
    line-height: 40px;
    padding: 0;
    border: 1px solid $white;
    border-radius: 25px 0;
    background-color: transparent;
    transition: $t-1;
    cursor: pointer;
    position: relative;
    z-index: 1;

    @media screen and (max-width:800px){
      line-height: 50px;
      color: $black;
    }

    &:hover,
    &:active {
      line-height: 50px;
      color: $black;

      &+.h-border {
        top: 0;
        right: 0;
        background: $white;
      }
    }

    // &:active {
    //   color: $black;

    //   &+.h-border {
    //     background: $white;
    //   }
    // }
  }

  .h-border {
    position: absolute;
    top: -10px;
    right: 8px;
    width: 100%;
    height: 100%;
    border: 1px solid $white;
    border-radius: 25px 0;
    transition: $t-1;

    @media screen and (max-width:800px) {
      top: 0;
      right: 0;
      background: $white;
    }
  }

  &-border-black {
    .btn{
      border-color: $black;
      color: $black;

      @media screen and (max-width:800px) {
        color: $white;
      }

      &:hover,
      &:active {
        color: $white;

        &+.h-border {
          background: $black;
        }
      }
    }

    .h-border{
      border-color: $black;

      @media screen and (max-width:800px) {
        background: $black;
      }
    }
  }
}
