#footer {
  position: relative;
  padding-bottom: 70px;

  @media screen and (max-width:600px) {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .button{
    margin: 0 auto;

    @media screen and (max-width:600px) {
      display: none;
    }
  }

  .copy{
    font-size: 14px;
    letter-spacing: 1.94px;
    color: $white;
    text-align: center;
    margin: 50px 0 0;

    @media screen and (max-width:600px) {
      text-align: left;
    }

    br{
      display: none;

      @media screen and (max-width:600px) {
        display: block;
      }
    }

    .line-y{
      @media screen and (max-width:600px) {
        display: none;
      }
    }
  }

  .by{
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
    letter-spacing: 1.95px;

    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    margin: 0;

    @media screen and (max-width:600px) {
      right: -50px;
      transform: rotate(-90deg);
      top: 60px;

      br{
        display: none;
      }
    }

    a{
      @extend %font-semiBold;
      color: $white;

      &:hover{
        text-decoration: none;
      }
    }
  }
}
