.ui-field,
.ui-textarea{
  position: relative;
  height: 48px;
  border-bottom: 1px solid $black;
  transition: $t-1;

  .ui-field-label {
    @extend %font-helvetica;
    position: absolute;
    color: #717171;
    font-size: 14px;
    letter-spacing: 0.40px;
    top: 13px;
    left: 0px;
    transition: $t-1;
    cursor: text;
  }

  .ui-field-input{
    @extend %font-helvetica;
    font-size: 14px;
    letter-spacing: .5px;
    border: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: $black;
    // padding-left: 15px;
  }

  textarea{
    @extend %font-helvetica;
    width: 100%;
    min-height: 185px;
    background: transparent;
    color: $black;
    border: 0;
    padding: 20px 15px 15px 0;
    transition: $t-1;
  }

  &.focus,
  &.active {

    .ui-field-label {
      top: 0px;
      font-size: 11px;
      // letter-spacing: 4px;
    }

    .ui-field-input,
    textarea {
      padding-top: 20px;
    }
  }

  &.focus{
    border-color: $black;
  }

  &.error{
    border-color: red;
  }
}

// form{
//   .buttons{
//     text-align: center;
//   }
// }

.ui-textarea{
  height: auto;
  min-height: 185px;
}
