#header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 88px;

  display: flex;
  align-items: center;

  box-shadow: 0 -3px 10px rgba($black, 0.5);
  transition: $t-1;
  // transition-delay: .3s;
  z-index: 3;

  // animation-name: opacity;
  // animation-duration: 1s;
  // animation-fill-mode: both;
  // animation-delay: 2s;

  @media screen and (max-width:600px) {
    height: 64px;
  }

  &.load-bottom{
    bottom: -88px;
  }

  .nav-bar{
    &.active{
      bottom: 64px;
    }

    @media screen and (max-width:600px) {
      position: fixed;
      bottom: -370px;
      background-color: $black;
      width: 100%;
      height: 360px;
      border-radius: 50px 0 0 0;
      flex-direction: column;
      padding: 30px 0 0 20px;
      transition: $t-1;
      // background-color: $orange;
    }
  }

  .menu{
    display: flex;
    align-items: center;
    text-align: center;

    @media screen and (max-width:600px) {
      // order: 2;
      flex-direction: column;
      // flex-grow: initial;
    }

    li{
      @media screen and (max-width:600px) {
        margin-bottom: 15px;
      }

      a{
        display: block;
        position: relative;
        @extend %font-regular;
        font-size: 18px;
        color: $white;
        letter-spacing: 3.75px;
        padding: 20px 5px;
        transition: $t-1;

        @media screen and (max-width:600px) {
          font-size: 28px;
          letter-spacing: initial;
          padding: 0;
        }

        &.active,
        &:hover{
          text-decoration: none;

          &:after{
            opacity: 1;
          }
        }

        &:after{
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 100px;
          height: 4px;
          background-color: transparent;
          transform: translateX(-50%);
          opacity: 0;
          transition: $t-1;
        }
      }
    }
  }

  .logo{
    position: relative;
    cursor: pointer;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:650px) {
      padding: 0;
    }

    @media screen and (max-width:600px){
      // order: 1;
      padding: 0 15px;
      display: none;
    }

    &:hover{
      .image{
        left: 0;
        // transform: rotate(-360deg);
      }

      .label{
        transform: scale(1);
      }
    }

    img{
      position: relative;
      display: inline-block;
      transition: $t-1;
      margin-right: 10px;

      &:last-child{
        margin-right: 0;
      }
    }

    .image{
      left: 82px;
      // transform: rotate(0);
      height: 60px;

      @media screen and (max-width: 850px) {
        left: 0;
        margin-right: 0;
      }
    }

    .label{
      height: 30px;
      transform: scale(0);

      @media screen and (max-width: 850px) {
        display: none;
      }
    }
  }

  .data-mobile{
    display: none;
    // order: 3;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width:600px) {
      display: flex;
      // order: 3;
    }

    p,
    a{
      font-size: 14px;
      color: $white;
      letter-spacing: 1.91px;
    }

    a{
      display: block;

      &:hover{
        text-decoration: none;
      }
    }
  }

  .nav-mobile{
    display: none;

    @media screen and (max-width:600px){
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: $black;
      position: relative;
      z-index: 2;
    }

    &.active{
      .mobile-logo{
        .label{
          display: none;
        }
      }

      .btn-menu-mobile{
        .ico{
          background: url('../img/icons/menu-mobile-active.svg') no-repeat center center;
        }
      }
    }

    .mobile-logo{
      display: flex;
      align-items: center;

      .image{
        @media screen and (max-width:600px) {
          width: 30px;
          margin-right: 10px;
        }
      }

      .label{
        @media screen and (max-width:600px) {
          width: 80px;
        }
      }
    }

    .btn-menu-mobile{
      width: 36px;
      height: 24px;
      cursor: pointer;

      .ico{
        background: url('../img/icons/menu-mobile.svg') no-repeat center center;
        width: 36px;
        height: 24px;
        transition: $t-1;
      }
    }
  }

  &.orange{
    background-color: $orange;

    @media screen and (max-width:600px) {
      background-color: $black;
    }

    .logo{
      &-black{
        display: block;
      }
      &-orange{
        display: none;
      }
    }

    .menu {
      li {
        a {

          &.active,
          &:hover {

            &:after {
              background-color: $black;

              @media screen and (max-width:600px) {
                background-color: $orange;
              }
            }
          }
        }
      }
    }
  }
  &.black{
    background-color: $black;

    .logo {
      &-black {
        display: none;
      }

      &-orange {
        display: block;
      }
    }

    .menu{
      li{
        a{
          &.active,
          &:hover {

            &:after {
              background-color: $orange;
            }
          }
        }
      }
    }
  }
}
