.preloader-page {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    &__box{
      width: 150px;
      height: 150px;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      .image{
        position: absolute;
      }
    }

    &--left{
      .image{
        animation: leftAnim 1.3s ease-in-out alternate infinite;
        right: 10px;
      }
    }

    &--right{
      .image{
        animation: rightAnim 1.3s ease-in-out alternate infinite;
        left: 10px;
      }
    }
  }

  &-progress {
    position: absolute;
    bottom: 0;
    // left: calc(50% + 85px);
    left: 50%;
    transform: translateX(-50%);

    .line-y,
    .text {
      display: inline-block;
      vertical-align: bottom;
    }

    .line-y {
      width: 3px;
      height: 90px;
      background-color: $orange;
    }

    .text {
      position: absolute;
      bottom: 35px;
      margin: 0;
      margin-left: 20px;
      color: $white;
      font-size: 18px;
      letter-spacing: 3.75px;
      width: 150px;
    }
  }
}
