#contact{

  // &.page-thanks{
  //   background-color: $white;
  // }

  .section-rotate{
    .main{
      &:before{
        width: 122px;
        height: 122px;
        background-size: contain;
        top: -90px;
      }
    }
  }

  .data-page{
    .container {
      border-left: 1px solid $orange;

      @media screen and (max-width:800px) {
        border-left: 0;
      }
    }

    .content{
      // padding-bottom: 30px;
      padding-bottom: 60px;
    }
  }

  .title-page{
    margin: 0 auto;

    .description{
      @extend %font-helvetica;
      font-size: 18px;
      font-weight: bold;
      color: $white;
      max-width: 520px;
      width: 100%;
      margin-top: 20px;

      @media screen and (max-width:600px) {
        font-size: 14px;
      }
    }
  }

  .box-form{
    .form-contact{
      .buttons{
        .button{
          margin: 40px auto 0;
        }
      }
    }
  }

  .locate-us{
    .container{
      border-right: 1px solid $orange;
      padding-top: 80px;

      @media screen and (max-width:800px) {
        border-right: 0;
      }
    }


    .main{
      position: relative;

      &:before{
        content: '';
        background-image: url('../img/icons/decoration-3.png');
        width: 70px;
        height: 304px;

        position: absolute;
        top: -25px;
        left: 0;

        @media screen and (max-width:800px){
          content: initial;
        }
      }
    }

    .title-section{
      margin-top: 50px;
      margin-bottom: 20px;
      position: relative;
    }

    .address{
      @extend %font-helvetica;
      font-weight: bold;
      font-size: 14px;
      color: $white;
      text-align: center;
    }

    .map{
      max-width: 970px;
      height: 480px;
      background-color: $white;
      margin: 50px auto 80px;
      border-radius: 25px 0 25px 25px;

      animation: levitate 1.5s infinite;
    }
  }

  .data{
    position: absolute;
    bottom: 50%;
    right: -120px;
    transform: rotate(-90deg);

    @media screen and (max-width:800px) {
      display: none;
    }

    .telf,
    .mailto{
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      color: $black;
      letter-spacing: 1.94px;
      margin: 0;
      margin-right: 60px;

      &:last-child{
        margin-right: 0;
      }
    }

    .mailto{
      &:hover{
        text-decoration: none;
      }
    }
  }

  .box-thanks{
    height: calc( 100vh - 407px);

    @media screen and (max-height:800px){
      height: auto;
    }

    &:after{
      content: '';
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: -60px;
      background: white;
    }

    .main{
      height: 100%;
      display: flex;

      .row{
        width: 100%;
      }
    }

    .content{
      max-width: 800px;
      width: 100%;
      min-height: 210px;
      height: 100%;

      .box{
        width: 100%;
        height: 100%;
        border: 1px solid $orange;
        border-radius: 0 0 25px 0px;
        display: flex;
        box-shadow: 0 4px 7px rgba(#212121, 0.35);
        margin-bottom: 10px;

        .small,
        .big{
          display: flex;
          justify-content: center;
          // align-items: center;
        }

        .small{
          width: 100px;
          border-right: 1px solid $orange;

          img{
            margin: 0 auto;
          }
        }

        .big{
          width: calc( 100% - 100px);
          flex-direction: column;
          padding-left: 30px;

          p{
            @extend %font-semiBold;
            font-size: 42px;
            color: $black;
            letter-spacing: 2.5px;
            margin: 0;
            margin-bottom: 5px;
          }

          span{
            @extend %font-helvetica;
            font-size: 18px;
            font-weight: bold;
            color: $black;
          }
        }
      }

      a{
        display: inherit;
        @extend %font-medium;
        font-size: 24px;
        color: $black;
        text-align: right;
        letter-spacing: 2px;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
