#errors{
  height: 100%;
  .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trama {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    // @ww

    @media screen and (max-width:600px) {
      display: none;
    }

    .circle {
      width: calc(100% / 8);
      height: calc(100% / 6);

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .point {
      width: 5px;
      height: 5px;
      background-color: $orange;
      border-radius: 50%;
      cursor: pointer;
      transition: $t-1;

      &:hover {
        background-color: $white;
      }
    }
  }

  .main{
    width: 100%;

    .box{
      display: flex;
      align-items: center;

      @media screen and (max-width:600px){
        flex-direction: column;
      }
    }

    picture{
      img{
        width: 170px;
        @media screen and (max-width:600px) {
          width: 100px;
        }
      }
    }

    .data{
      color: $white;
      padding-left: 40px;

      @media screen and (max-width:600px) {
        text-align: center;
        padding-left: 0;
      }

      h2{
        @extend %font-bold;
        font-size: 68px;
        letter-spacing: 7px;

        @media screen and (max-width:600px) {
          margin-top: 30px;
          font-size: 48px;
        }
      }

      p{
        @extend %font-bold;
        font-size: 24px;
        line-height: 42px;
        letter-spacing: 7px;
        margin: 20px 0;

        @media screen and (max-width:600px) {
          font-size: 18px;
          line-height: initial;
        }
      }

      span{
        font-size: 24px;
        letter-spacing: 3px;

        @media screen and (max-width:600px) {
          font-size: 18px;
        }
      }
    }

    .bottom{
      display: flex;
      justify-content: flex-end;
      margin-top: 20%;

      @media screen and (max-width:600px) {
        justify-content: center;
      }

      p{
        color: $white;
        font-size: 24px;
        letter-spacing: 3px;
        text-align: center;
      }
    }
  }
}
