#home{
  height: calc( 100vh - 88px );
  overflow: hidden;

  @media screen and (max-width:600px) {
    height: calc(100vh - 64px);
  }

  &.page-effect{
    height: 100vh;

    .parallax{
      transform: scale(5);
    }

    .trama,
    .main{
      opacity: 0;
      transform: scale(0);
    }

    .redes{
      opacity: 0;
    }
  }

  &.page-animation{
    .cap{
      &.cap2{
        // opacity: 0;
        // transform: translate3d(0, 100%, 0);

        animation-name: fadeUp;
        animation-duration: 1s;
        // animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: 1s;
      }
      &.cap3{
        // transform: scale(5);
        animation-name: scale;
        animation-duration: 1s;
        animation-fill-mode: none;
        // animation-delay: .3s;
      }
    }
  }

  .parallax{
    position: relative;
    height: 100%;
    // background-image: url('../img/bg/capa3.png'),
    //                   url('../img/bg/capa2.png'),
    //                   url('../img/bg/capa1.png');

    // background-repeat: no-repeat;
    // background-position: center;
    // background-position: 50% 50%;
    // background-size: cover;
    // transition: $t-1;

    @media screen and (max-width:600px) {
      background: url('../img/bg.jpg')no-repeat top center;
      background-size: cover;
    }

    .cap{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-position: 50% 50%;
      background-size: cover;

      position: absolute;
      top: 0;
      left: 0;

      // transition: $t-1;

      @media screen and (max-width:600px) {
        display: none;
      }

      &.cap1 {
        background-image: url('../img/bg/capa1.png');
      }
      &.cap2 {
        background-image: url('../img/bg/capa2.png');
      }
      &.cap3 {
        background-image: url('../img/bg/capa3a.png');
        width: 110%;
        margin-left: -10%;
      }
    }
  }

  .container{
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;
  }

  .trama,
  .main{
    transform: initial;
    opacity: 1;
    transition: $t-1;
    transition-delay: 2s;
  }

  .trama{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 1;

    @media screen and (max-width:600px) {
      display: none;
    }

    .circle{
      width: calc( 100% / 8 );
      height: calc( 100% / 6 );

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .point{
      width: 5px;
      height: 5px;
      background-color: $orange;
      border-radius: 50%;
      cursor: pointer;
      transition: $t-1;

      &:hover{
        background-color: $white;
      }
    }
  }

  .main{
    // position: relative;
    width: 100%;
    color: $white;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc( 100% - 88px);

    h1{
      @extend %font-semiBold;
      max-width: 450px;
      width: 100%;
      position: relative;
      font-size: 72px;
      line-height: 65px;
      letter-spacing: 1.5px;
      padding-bottom: 25px;
      // margin-top: 90px;
      margin-bottom: 5px;
      text-transform: uppercase;

      .line{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 80px;
        height: 8px;
        background-color: $white;
      }

      // &:after{
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   bottom: 0;
      //   width: 80px;
      //   height: 8px;
      //   background-color: $white;
      // }
    }

    h2{
      font-size: 28px;
    }

    .button{
      // margin-top: 32%;
      // margin-bottom: 30%;
      // margin: 15% 0;
    }

    p{
      font-size: 14px;
      line-height: 18px;
      color: $white;
      letter-spacing: 1.95px;

      a{
        @extend %font-semiBold;
        color: $white;

        &:hover{
          text-decoration: none;
        }
      }
    }

    .partner{}

    .by{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
      z-index: 2;
    }
  }

  .redes {
    position: absolute;
    right: 15px;
    bottom: 8%;
    z-index: 2;

    opacity: 1;
    transition: $t-1;
    transition-delay: .5s;

    a {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
