html,
body{
  @extend %font-regular;
  @extend %font-smoothing;
}

body{
  background: $black;
  // cursor: url('../img/cursor.svg'), auto;
}

#wrapper{
  height: 100%;
}

.btn:focus{
  box-shadow: none;
}

.container{
  @media screen and (max-width:991px){
    max-width: 100%;
    border: 0;
  }
}

.page{
  // height: calc( 100vh - 100px );
  padding-bottom: 88px;
  overflow: hidden;

  @media screen and (max-width:600px) {
    padding-bottom: 64px;
  }

  .interior-header{
    .container{
      border-left: 1px solid $orange;

      @media screen and (max-width:800px) {
        border-left: 0;
      }
    }
  }
}

.interior-header{
  .main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 30px;

    @media screen and (max-width:800px) {
      justify-content: space-between;
      padding-top: 16px;
    }

    .logo{
      margin-right: 30px;

      img{
        height: 24px;
      }
    }

    .redes {
      display: flex;
      a {
        display: inline-block;
        margin-right: 15px;

        &:last-child{
          margin-right: 0;
        }

        img{
          height: 24px;
        }
      }
    }
  }
}

.data-page{
  background: url('../img/bg-us.png') no-repeat top center;
  background-size: cover;
}

.title-page-top{
  position: relative;
  color: $white;
  font-size: 42px;
  @extend %font-semiBold;
  letter-spacing: 2.5px;
  padding-bottom: 25px;

  @media screen and (max-width:600px) {
    font-size: 28px;
    padding-bottom: 10px;
  }

  .line{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $orange;
    width: 80px;
    height: 8px;

    @media screen and (max-width:600px) {
      width: 60px;
      height: 4px;
    }
  }

  // &:before{
  //   content: '';
  //   background-color: $orange;
  //   width: 80px;
  //   height: 8px;

  //   position: absolute;
  //   bottom: 0;

  //   @media screen and (max-width:600px) {
  //     width: 60px;
  //     height: 4px;
  //   }
  // }
}

.title-effect{
  position: relative;
  display: block;

  &:after,
  &:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: #ccc;
    clip: rect(0, 900px, 0, 0);
  }

  &:before {
    top: -1px;
    left: -1px;
    // text-shadow: -1px 0 #49FC00;
    animation: glitch-effect 5s infinite linear alternate-reverse;
    // clip: rect(24px, 550px, 90px, 0);
    clip: rect(0, 900px, 0, 0);
  }

  &:after {
    top: 1px;
    left: 1px;
    // text-shadow: -1px 0 #b300fc;
    animation: glitch-effect 5.5s infinite linear alternate-reverse;
    // clip: rect(24px, 550px, 90px, 0);
    clip: rect(0, 900px, 0, 0);
  }
}

.line-x-rotate{
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $orange;
  transform: rotate(-3deg);

  @media screen and (max-width:800px) {
    display: none;
  }
}

.title-section{
  position: relative;
  @extend %font-semiBold;
  font-size: 42px;
  letter-spacing: 2.5px;
  text-align: center;
  padding-bottom: 25px;

  @media screen and (max-width:800px) {
    font-size: 28px;
  }

  .line{
    width: 64px;
    height: 8px;
    background-color: $orange;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  // &:after{
  //   content: '';
  //   width: 64px;
  //   height: 8px;
  //   background-color: $orange;
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  &.title-white{
    color: $white;
  }

  &.title-black{
    color: $black;
  }
}

.section-rotate{
  position: relative;
  transform: rotate(-3deg);
  width: 110%;
  margin-left: -5%;
  background-color: $white;
  padding: 0 5%;
  // clip-path: polygon(0 7%, 100% 0%, 100% 97%, 0% 100%);
  margin-top: -30px;
  margin-bottom: -30px;

  @media screen and (max-width:800px) {
    transform: initial;
    clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
  }

  .main{
    position: relative;
    transform: rotate(3deg);
    // padding: 100px 0 130px;
    padding-top: 100px;
    padding-bottom: 100px;

    @media screen and (max-width:800px) {
      transform: initial;
    }

    &:before {
      content: '';
      background-image: url('../img/icons/decoration-1.png');
      background-size: contain;
      width: 122px;
      height: 122px;

      position: absolute;
      top: -60px;
      right: 0;

      animation: decoration1Big 1.5s infinite;

      @media screen and (max-width:800px) {
        content: initial;
      }

    }
  }
}

.portfolio-card{
  .item {
    margin-bottom: 30px;

    &:hover {
      text-decoration: none;
    }

    &.featured {
      position: relative;

      &:before {
        content: '';
        background: url('../img/featured.png');
        width: 81px;
        height: 76px;

        position: absolute;
        top: -10px;
        right: 15px;
      }
    }

    .content {
      border: 1px solid $orange;
      border-radius: 0 0 25px 0;
      overflow: hidden;
      display: flex;

      height: 272px;

      box-shadow: 0 4px 7px rgba(#212121, 0.35);
    }

    .name {
      width: 100px;
      background: $white;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width:600px) {
        width: 50px;
      }

      p {
        @extend %font-semiBold;
        font-size: 24px;
        color: $black;
        letter-spacing: 1.43px;
        transform: rotate(-90deg);
        margin: 0;

        position: absolute;
        width: 270px;
        padding: 0 10px;
        text-align: center;
        line-height: 24px;

        @media screen and (max-width:600px) {
          font-size: 18px;
        }
      }
    }

    picture {
      display: block;
      width: calc(100% - 100px);
      border-left: 1px solid $orange;

      @media screen and (max-width:600px) {
        width: calc(100% - 50px);
      }

      .image{
        width: 100%;
        height: 100%;
      }
    }

    .description {
      @extend %font-helvetica;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $black;
      margin-top: 15px;

      min-height: 75px;
      overflow: hidden;
    }
  }
}
