#portfolio{
  // height: calc( 100% - 100px );
  // background-color: $white;

  .data-page {
    // background-color: $black;

    .container {
      border-left: 1px solid $orange;

      @media screen and (max-width:800px) {
        border-left: 0;
      }
    }

    .content {
      // padding-bottom: 30px;
      padding-bottom: 60px;
    }

    .title-page{
      margin: 0 auto;

      p{
        @extend %font-helvetica;
        font-size: 18px;
        font-weight: bold;
        color: $white;
        letter-spacing: initial;
        margin: 0;
      }

      .description {
        margin-top: 30px;
      }
    }
  }

  .portfolio-box{
    padding-top: 20px;

    @media screen and (max-width:800px) {
      padding-top: 70px;
      transform: initial;
      clip-path: polygon(0 3%, 100% 0%, 100% 97%, 0% 100%);
    }

    .main{
      padding-top: 0;
      padding-bottom: 50px;

    @media screen and (max-width:800px) {
      transform: initial;
    }

      &::before{
        content: initial;
      }
    }

    .filter{
      justify-content: flex-end;

      @media (max-width:800px) {
        margin-top: 50px;
      }

      .dropdown{
        &-toggle{
          @extend %font-helvetica;
          font-size: 14px;
          color: #717171;
          letter-spacing: 0.40px;
          width: 100%;
          padding: 0;
          border: 0;
          border-bottom: 1px solid $black;
          padding-bottom: 15px;
          text-align: left;
          background: transparent;

          &:after{
            border: 0;
            background: url('../img/icons/arrow-select.svg');
            width: 10px;
            height: 6px;
            float: right;
            margin-top: 6px;
          }
        }

        &-menu{
          @media screen and (max-width:800px) {
            width: 100%;
          }
        }

        &-item{
          @extend %font-helvetica;
          font-size: 14px;
          transition: $t-1;

          &:hover{
            background-color: rgba($black, 0.1);
          }

          &.active,
          &:active{
            background-color: $black;
            color: $white;
          }
        }
      }
    }

    .portfolio-list{
      margin-top: 50px;
      perspective: 1400px;

      .item{

        @media screen and (max-width:800px) {
          max-width: 570px;
          width: 100%;
          flex: initial;
          margin: 0 auto 30px;
        }

        &.featured {
          position: relative;

          &:before{
            content: initial;
          }

          .item-content{
            .front{
              &:before {
                content: '';
                background: url('../img/featured.png');
                width: 81px;
                height: 76px;

                position: absolute;
                top: -10px;
                right: 15px;
              }
            }
          }
        }

        &-content{
          display: block;
          position: relative;
          transition: $t-1;


          &:hover{
            text-decoration: none;

            .front{
              transform: scale(0);
            }

            .back{
              transform: scale(1) translate(-50%, -50%);
              top: 50%;
              left: 50%;
            }
          }

          .front,
          .back{
            width: 100%;
            height: 100%;
            transition: $t-1;
          }

          .front{}

          .back{
            transform: scale(0);

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 0;
            left: 0;
            color: $white;
            background: $orange;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 4px 7px rgba(#212121, 0.35);

            p{
              margin: 0;
              font-size: 32px;
              border-bottom: 3px solid $black;
            }
          }

        }
      }
    }

    .paginate{
      justify-content: center;
      margin: 50px 0 80px;

      .ul{
        display: flex;
        align-items: center;

        .arrow{
          padding: 10px;
          margin: 0 5px;
        }

        .number {
          display: flex;
          align-items: center;

          p {
            @extend %font-bold;
            font-size: 24px;
            color: $black;
            margin: 0;
          }

          .line{
            display: inline-block;
            background-color: $orange;
            width: 120px;
            height: 1px;
            margin: 0 12px;
          }
        }
      }
    }
  }

  .footer{
    background: $black;
    margin-top: -50px;
    position: relative;
    z-index: 1;

    @media screen and (max-width:800px) {
      position: static;
    }

    .container{
      padding-top: 80px;
      border-right: 1px solid $orange;

      @media screen and (max-width:800px) {
        border-right: 0;
      }
    }
  }

  &.portfolio-detail{

    .article{
      position: relative;
      clip-path: polygon(0 2%, 100% 0%, 100% 100%, 0% 100%);
      background: $white;
      margin-top: -65px;

      .main{
        @extend %font-helvetica;
        font-size: 18px;
        font-weight: bold;
        padding-top: 80px;
        padding-bottom: 100px;
        transform: initial;

        &:before{
          content: initial;
        }

        img{
          margin: 1rem 0;
        }

        iframe {
          width: 100%;

          @media (max-width: 600px) {
            height: 400px;
          }
        }
      }
    }

    .other-projects{
      background-color: $white;
      margin-top: -50px;
      padding-bottom: 40px;

      .title-section{
        text-align: left;

        &:after{
          left: 0;
          transform: initial;
        }
      }

      .portfolio-card{
        // padding: 40px 0;
        margin-top: 40px;

        .item{
          max-width: 570px;
          width: 100%;
          padding: 0 15px;
          margin: 0 ;
        }
      }

      .carousel{

        &:hover{
          .slick-arrow{
            opacity: 1;
          }
        }

        .slick-list{
          overflow: initial;
        }

        .slick-arrow{
          position: absolute;
          z-index: 1;

          top: 0;
          width: 100px;
          height: 100%;
          // border: 0;
          padding: 0;
          background-repeat: no-repeat;
          background-position: center;
          background-color: rgba($white, 0.7);
          text-indent: -999em;
          opacity: 0;
          transition: $t-1;
        }

        .slick-prev{
          left: 0;
          background-image: url('../img/icons/arrow-prev.svg');
        }

        .slick-next{
          right: 0;
          background-image: url('../img/icons/arrow-next.svg');
        }
      }
    }

    .footer{
      margin-top: 0;
    }
  }
}
