#us{
  // height: 100%;
  .data-page{
    .container{
      border-left: 1px solid $orange;

      @media screen and (max-width:800px) {
        border-left: 0;
      }
    }
  }

  .interior-header{
    .main{
      position: relative;

      &:before{
        content: '';
        background: url('../img/icons/decoration-1.png')no-repeat;
        background-size: contain;
        width: 122px;
        height: 122px;

        position: fixed;
        top: -55px;
        // left: -68px;
        left: 3%;

        animation: levitate 1.5s infinite;

        @media screen and (max-width:991px) {
          content: initial;
        }
      }

      &.modifier{
        &:before{
          // content: initial;
          top: 15%;
        }
      }
    }
  }

  #data-page{

    .content{
      padding-top: 25px;
      // padding-bottom: 60px;
      padding-bottom: 90px;
    }

    .title-page-top {
      margin-bottom: 30px;
    }

    .description {
      @extend %font-helvetica;
      font-size: 16px;
      color: $white;
    }

    .our-history,
    .mission-vision{
      margin: 0 auto;
    }

    .our-history{
      margin-bottom: 65px;

      @media screen and (max-width:800px) {
        margin-bottom: 25px;
      }

    }

    .mission-vision{
      transform: rotate(-3deg);
      margin-top: 65px;

      @media screen and (max-width:800px) {
        transform: initial;
        margin-top: 25px;
      }

      h2{
        @extend %font-medium;
        color: $orange;
        font-size: 52px;
        letter-spacing: 3.1px;
        margin-bottom: 20px;

        // @media screen and (max-width:600px) {
        //   padding: 0 15px;
        // }
      }

      .description{
        font-size: 18px;

        @media screen and (max-width:800px) {
          margin-bottom: 25px;
        }
      }
    }
  }

  #our-services{
    background: $white;

    .container{
      @media screen and (max-width:1200px) {
        max-width: 100%;
      }

      @media screen and (max-width:600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .main{
      transform: initial;
    }

    .dec-1,
    .dec-2{
      position: absolute;
      transform: translateY(-50%);
      z-index: 1;

      @media screen and (max-width:800px) {
        display: none;
      }
    }

    .dec-1{
      left: -75px;
      top: 60%;
    }

    .dec-2{
      top: 30%;
      right: -35px;
    }

    .box-items{
      display: flex;
      justify-content: center;
      margin-top: 70px;

      @media screen and (max-width:1050px) {
        flex-wrap: wrap;
      }

      @media screen and (max-width:600px) {
        align-items: center;
        justify-content: space-evenly;
      }

      .item{
        position: relative;
        display: block;
        color: $black;
        width: 270px;
        height: 480px;
        border-radius: 25px 0 3px 3px;
        padding: 25px 10px 20px 15px;
        box-shadow: 0 4px 7px rgba(#212121, 0.35);
        margin: 0 15px;
        transition: $t-1;

        // animation-name: aTop;
        // animation-duration: 1s;
        // animation-fill-mode: both;
        // animation-delay: .4s;

        @media screen and (max-width:800px) {
          margin: 0 10px;
        }

        @media screen and (max-width:600px) {
          width: 180px;
          margin: 10px 5px !important;
        }


        &:first-child{
          margin-left: 0;
        }

        &:last-child{
          margin-right: 0;
        }

        @for $i from 4*-1 through -1{
          &:nth-child( #{abs($i)} ) {
            margin-top: abs(32px * (abs($i) - 4));

            @media screen and (max-width:600px) {
              margin-top: initial;
            }
          }
        }

        &:nth-child(odd){
          animation: aTop 1.5s infinite;
          @media screen and (max-width:600px) {
            animation: initial;
          }
        }

        &:nth-child(even) {
          animation: aBottom 1.5s infinite;
          @media screen and (max-width:600px) {
            animation: initial;
          }
        }

        p{
          @extend %font-helvetica;
          font-size: 16px;
          font-weight: bold;
        }

        h2{
          position: relative;
          @extend %font-bold;
          font-size: 32px;
          line-height: 30px;
          letter-spacing: 1.5px;
          padding-bottom: 15px;

          @media screen and (max-width:600px) {
            font-size: 28px;
            line-height: 28px;
            letter-spacing: 0.88px;
          }

          &:after{
            content: '';
            background-color: $orange;
            width: 120px;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }

        @media screen and (max-width:600px) {
          &.social{
            order: 3;
          }

          &.creation {
            order: 1;
          }

          &.esthetic {
            order: 2;
          }

          &.realization {
            order: 4;
          }
        }

        &.odd{
          @media screen and (max-width:600px) {
            height: 250px;

          }
          h2{
            transform: rotate(-90deg);
            position: absolute;
          }

          &.social{
            h2{
              // bottom: 40px;
              bottom: 15%;
              // left: 125px;
              left: 45%;
            }
          }

          &.esthetic {
            h2 {
              // bottom: 65px;
              bottom: 15%;
              // left: 105px;
              left: 35%;
            }
          }

        }

        &.even {
          background-color: $orange;
          border-radius: 3px 0 25px 3px;
          color: $white;

          @media screen and (max-width:600px) {
            height: 192px;
          }

          h2{
            margin-bottom: 35px;

            &:after{
              background-color: $black;
            }
          }

          &:hover{
            background-color: $white;

            p,
            h2{
              color: $black;
            }

            h2:after{
              background-color: $orange;
            }
          }
        }

        &:hover{
          text-decoration: none;

          background-color: $orange;

          p,
          h2{
            color: $white;
          }

          h2:after{
            background-color: $black;
          }
        }
      }
    }
  }

  #our-clients{
    position: relative;

    .container{
      padding-top: 130px;
      // padding-bottom: 70px;
      border-right: 1px solid $orange;

      @media screen and (max-width:600px) {
        border-right: 0;
      }
    }

    .line-x-rotate{
      z-index: -1;
    }

    .decoration{
      position: absolute;
      top: 205px;
      animation: levitate 1.5s infinite;

      @media screen and (max-width:800px) {
        display: none;
      }
    }

    .title-section {
      margin-bottom: 35px;
    }

    .box-clients{
      max-width: 835px;
      width: 100%;
      min-height: 330px;
      margin: 80px auto;
      background-color: $white;
      padding: 30px 0 0;
      border-radius: 25px 0 25px 25px;
      clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0 100%);

      display: flex;
      align-items: center;

      animation: levitate 1.5s infinite;

      @media screen and (max-width:600px) {
        padding: 60px 0 20px;
      }

      .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .item{
          margin: 30px 20px;

          img{
            height: 36px;
          }
        }
      }
    }
  }
}
