aside {
  #sidebar {
    background-color: $c11;

    .sidebar-menu {
      margin-top: 100px;

      .sub-menu {
        .dcjq-parent {
          position: relative;

          &:after {
            content: '';
            background-image: url('../../img/icons/arrow-up-white.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 15px;
            transform: rotate(180deg);
            transition: $t1;
            width: 15px;

            position: absolute;
            right: 15px;
          }

          &.active {
            color: $c2;

            &:after {
              background-image: url('../../img/icons/arrow-up-red.svg');
              transform: rotate(360deg);
            }
          }
        }

        .sub {
          li {
            color: $c2;

            &:hover,
            &.active {
              a {
                color: $c1;
              }
            }
          }
        }
      }

      .nav-only {
        position: relative;

        &:after {
          content: '';
          background-image: url('../../img/icons/arrow-up-white.svg');
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          height: 15px;
          transform: rotate(180deg);
          transition: $t1;
          width: 15px;

          position: absolute;
          right: 15px;
          top: 15px;
        }

        &.active {
          &:after {
            background-image: url('../../img/icons/arrow-up-red.svg');
            transform: rotate(90deg);
          }

          a {
            color: $c1;
          }
        }
      }
    }
  }
}