footer {
  &.site-footer {
    background: transparent;
    color: $c4;
    font-size: 12px;
    margin-left: 210px;
    position: relative;

    &:before {
      content: '';
      height: 1px;
      background-color: $c4;
      width: 95%;
      position: absolute;
      top: 0;
      left: 2.5%;
    }

    .company {
      color: $c4;
    }

    .go-top {
      background-color: $c1;

      i {
        color: $c2;
      }
    }

    a {
      text-decoration: none;
    }
  }
}