header {
  &.header {
    background-color: $c2;
    box-shadow: 0 3px 7px 0 #69696980;
    display: flex;
    justify-content: space-between;

    .brand {
      align-items: center;
      background-color: $c2;
      display: flex;
      justify-content: space-between;
      margin-left: -15px;
      padding: 10px 25px 0 15px;
      width: 210px;

      .logo {
        float: none;
        margin: -7px 0 0;
      }
    }

    .top-nav {
      padding: 8px 0;
      margin: 0;
      position: relative;

      .button {
        border-color: $c2;
        color: $c6;
        font-size: 14px;

        &:hover {
          color: $c6;
          text-decoration: none;
        }
      }
    }
  }
}