@font-face {
    font-family: 'FontAwesome';
    src: url('../../fonts/admin/fontawesome-webfont.eot?v=4.7.0');
    src: url('../../fonts/admin/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../../fonts/admin/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../../fonts/admin/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../../fonts/admin/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../../fonts/admin/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/admin/glyphicons-halflings-regular.eot');
    src: url('../../fonts/admin/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/admin/glyphicons-halflings-regular.woff2') format('woff2'),
    url('../../fonts/admin/glyphicons-halflings-regular.woff') format('woff'),
    url('../../fonts/admin/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../../fonts/admin/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
