@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?l5v2az');
  src: url('../fonts/icomoon.eot?l5v2az#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?l5v2az') format('truetype'),
  url('../fonts/icomoon.woff?l5v2az') format('woff'),
  url('../fonts/icomoon.svg?l5v2az#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-bag:before {
  content: "\e902";
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/material-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */ src: local('Material Icons'),
  local('../../fonts/material-icons/MaterialIcons-Regular'),
  url('../../fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
  url('../../fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
  url('../../fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: text-bottom;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-delete{
  color: #ff2432;
}
.icon-edit{
  color: #212121;
}