.button {
  padding: 9px 14px;
  background-color: transparent;
  border-radius: 5px;
  color: $c5;
  border: 1px solid $c5;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  width: 145px;
  transition: $t1;

  &.dark {
    background-color: transparent;
    border-color: $c6;
    color: $c6;

    &:hover,
    &.active {
      background-color: $c6;
      color: $c2;
      text-decoration: none;
    }
  }

  &.red {
    background-color: transparent;
    border-color: $c1;
    color: $c1;

    &:hover,
    &.active {
      background-color: $c1;
      color: $c2;
      text-decoration: none;
    }
  }

  &.gray {
    background-color: transparent;
    border-color: $c9;
    color: $c9;

    &:hover,
    &.active {
      background-color: $c9;
      color: $c9;
      text-decoration: none;

    }

    &.active {
      &:hover {
        background-color: transparent;
        color: $c9;
        text-decoration: none;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.btn {
  position: relative;

  &.trash {
    &:after {
      content: '';
      background-image: url('../../img/icons/trash-white.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 15px;
      transition: $t1;
      width: 15px;

      position: absolute;
      right: 26%;
      top: 30%;
    }
  }
}