.card {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 #00000066;

  .card-header {
    background-color: $c2;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    position: relative;

    .card-title {
      font-size: 14px;
    }

    &:after {
      content: '';
      height: 1px;
      background-color: $c4;
      width: 95%;
      position: absolute;
      left: 2.5%;
      top: 38px;
    }
  }

  .card-body {
    .card-title {
      font-size: 14px;
    }

    .form-group {
      label {
        font-size: 14px;
      }

      input {
        color: $c4;
        font-size: 12px;
        height: 38px;

        &::placeholder {
          color: $c4;
          font-size: 12px;
        }
      }
    }

    .table {

    }
  }
}