.modal {
  .modal-content {
    position: relative;

    .close {
      content: '';
      background-image: url('../../img/icons/trash-white.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 15px;
      transition: $t1;
      width: 15px;

      position: absolute;
      top: -30px;
      right: -20px;
      opacity: 1;
    }
  }

  &-loader{
    display: none;
    background-color: rgba(#000, 0.5);

    .main{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}