.select {
  padding: 0;
  clear: both;
  background: $c2;
  width: 200px;

  select {
    appearance: none;
    background: none;
    color: $c4;
    font-size: 11px;
    padding: 5px 40px 5px 10px !important;
    border: 1px solid $c4;
    height: 38px;
    position: relative;
    width: 100%;
    z-index: 2;
  }

  .sort {
    position: relative;

    .select-arrow {
      background-color: $c2;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: $c4;
      cursor: pointer;
      height: 38px;
      width: 38px;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 20px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        content: '';
        background-image: url('../../img/icons/arrow-down-gray.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 15px;
        transition: $t1;
        width: 15px;

        position: absolute;
        right: 15px;
      }
    }
  }
}