.table {
  .edit,
  .look,
  .clear {
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    transition: $t1;
    width: 18px;
  }

  .edit {
    background-image: url('../../img/icons/edit.svg');
  }

  .look {
    background-image: url('../../img/icons/eye.svg');
  }

  .clear {
    background-image: url('../../img/icons/clear-red.svg');
  }

  th, td {
    vertical-align: middle;
  }
}

.ui-sortable{
  &-handle{
    cursor: grab;
  }
}
