@import '~bootstrap-tagsinput/dist/bootstrap-tagsinput.css';

.tagsinput {
  .tag {
    background-color: $c6;
    &:hover{
      background-color: $c1;
    }
  }
}

.tagsinput-add{
  &:hover{
    background-color: $c6;
  }
}